td, tbody, th, thead {
     background-color: rgb(233, 233, 233);
}

.card-small {
     padding: 1px;
     font-size: 0.8rem;
 }

 .card-small .card-title,
 .card-small .card-category {
     margin-bottom: 1px;
 }

 .card-small .card-icon {
     font-size: 1px;
 }

 .card.card-small {
    width: 17rem;

    @media (min-width: 768px) and (max-width: 1280px) {
        width: 11rem;
    }
}

@media (max-width: 767px) {
    .card.card-small {
        width: 19rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1rem;
        margin-bottom: 10px;
    }
}

 @media (max-width: 767.98px) {
    .custom-sm-flex-column {
        flex-direction: column !important;
    }
    .custom-fw-sm {
        font-size: 14px;
    }
}